* {
  margin: 0;
}

h1 {
  width: 100%;
  height: 15vh;
  background-color: slategrey;
  color: white;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
